.endpoint_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  justify-content: center;
  width: 100%;
}

.endpoint_acordian {
  width: 100%;
}

.endpoint_add_button {
  display: flex;
  justify-content: flex-start;
  margin-left: 12px;
  margin-top: 20px;
}

.textbox_hints {
  font-size: 14px;
  /* display: flex; */
  /* align-self: flex-start; */
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
